<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>About Me</h1>
<p>Ansu Rogers is the founder and president of Rogers & Rogers P.C. As a graduate of Ohio State University and a
    licensed CPA in the state of Maryland, Ansu has served as a trusted tax and business advisor to numerous Washington
    Metropolitan area businesses for the past 25 years. Ansu provides personalized attention to each of his clients as
    he believes that the success of Rogers & Rogers P.C. lies in the success of our clients. Ansu inspires each of his
    associates to provide the highest quality of service to each client and makes no compromise in quality.
    The success of our company is the result of the dedication and hard work by each of each of our associates who
    strive to continue to grow and evolve as the needs of our clients change.</p>
<p>The primary task of accountants, which extends to all the others, is to prepare and examine financial records.
    They make sure that records are accurate and that taxes are paid properly and on time.
    Accountants and auditors perform overviews of the financial operations of a business in order to help it run
    efficiently. They also provide the same services to individuals, helping them create plans of action for improved
    financial well-being. At Rogers & Rogers P.C, we do all those things and more</p>
<ul>
    <li><a href="index">Home</a></li>
    <li><a href="contact">Contact</a></li>

</ul>
</body>
</html>