<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:insert="base :: navbar"></div>
    <div class="jumbotron">
        <h1 class="display-4">How to do Monthly Account Payables Closeout?</h1>
        <p class="lead">Need more fancy stuff here</p>
        <hr class="my-4">
        <p>Accout Payables must be closeout on a monthly basis.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" th:href="@{/about}" role="button">Learn more about me</a>
        </p>
    </div>


<hr>
<div>
    <img src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562684773/E0_B9_81_E0_B8_A1_E0_B9_89_E0_B8_AD_E0_B8_B2_E0_B8_8A_E0_B8_B5_E0_B8_9E_E0_B8_94_E0_B8_B5-_E0_B9_81_E0_B8_95_E0_B9_88_E0_B8_96_E0_B9_89_E0_B8_B2_E0_B9_80_E0_B8_A5_E0_B8_B7_E0_B8_AD_E0_B8_81_E0_B8_9C_E0_B8_B4_E0_B8_94-1_qapmuc.jpg" width="500" height="350">
</div>
<h2>Follow this Payables End Checklist</h2>
<ul>
    <li>Complete entry of all invoices received dated up to last day of period</li>
    <li>Make necessary adjustments (memo and prepayment) against invoice</li>
    <li>against invoiceValidate all invoice batches for the current period.</li>
    <li>Run Invoice on Hold Report. Review and release holds as appropriate.</li>
    <li>Submit Payables Accounting Process to create accounting entries for the current period.</li>
    <li>Run Unaccounted Transactions Report.
    <li>Review any unaccounted transactions and correct asappropriate.</li>
    <li>Re-submit the Payables Accounting Process.</li>
    <li>Submit Payables Transfer to General Ledger process for current period.</li>
    <li>Set current period to Closed and Open next period.</li>
    <li>Submit Unposted Invoice Sweep program to update the GL date of any unaccounted transactions(invoices on hold).</li>
    <li>Run AP Trial Balance Report, Posted Invoice Register and Posted Payment Register to reconcilePayables activity
        for the period</li>
</ul>

   <!-- Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>